$primaryColor: orange;

@import 'header';

@mixin border-radius($degres) {
  -moz-border-radius: $degres;
  -webkit-border-radius: $degres;
  border-radius: $degres;
}

body {
  background-color: yellow;
}

footer {
  padding: 50px;
  background-color: $primaryColor;
  @include border-radius(40px);
  span {
    color: aliceblue;

    &:hover {
      text-decoration: underline;
    }
  }
}

%alert {
  border: 1px solid #ccc;
  padding: 15px;
  color: white;
  @include border-radius(10px);
}

.alert-green {
  @extend %alert;
  background-color: green;
}
.alert-red {
  @extend %alert;
  background-color: red;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: 135px;
  @include center;
}

#slogan {
  width: 150px;
  @include center;
}
